config.ps1
temp/
DIST/
symbols/
rnd-edited-images/*
!rnd-edited-images/.gitkeep
script_archive_steam/*
!script_archive_steam/.gitkeep
rnd-scripts/*
!rnd-scripts/.gitkeep
rnd-scripts-git/
models/*
/*.zip
/*.rar

# noidget
installer/build/*
!installer/build/.gitkeep
installer/deploy/
installer/deployUninstaller/
installer/userdata/enscriptToc.json
installer/userdata/enscriptTocC.json

# realboot
launcher/build/*
!launcher/build/.gitkeep
launcher/deploy/